<html>
    <head>
        <title>yoonn's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">yoonn Blog</a></h1>
        </div>
        <div>
            <h2><a href="">my first post</a></h2>
            <p>bla bla bla bla bla bla</p>
            <p>published: 2020.01.20 15:27</p>
        </div>
        <div>
            <h2><a href="">my second post</a></h2>
            <p>bla bla bla bla bla bla</p>
            <p>published: 2020.01.20 15:27</p>
        </div>
    </body>
</html>